---
---

<section class="min-h-screen" id="about">
  <h1 class="text-5xl my-10">About Me</h1>
  <h3 class="text-2xl mb-1">
    <i
      class="fa-solid fa-rocket me-2"
      aria-hidden="true"
      title="education, school"></i>My Story
  </h3>
  <p class="text-sm">
    From my earliest memories, I've been a self-taught enthusiast with a
    deep-rooted passion for new technologies, especially in the realm of web
    development. I take pride in building end-to-end solutions, seamlessly
    integrating both backend and frontend components. My drive is to craft
    comprehensive digital experiences, ensuring every piece of the puzzle fits
    perfectly. Entrust me with your vision, and I'll bring it to life with
    precision and flair.
  </p>
  <h3 class="text-2xl mt-5 mb-1">
    <i
      class="fa-solid fa-user-tie me-2"
      aria-hidden="true"
      title="education, school"></i>Expirience
  </h3>
  <p class="text-sm">
    Throughout my career as a Software Engineer, I've honed my skills primarily
    in testing, with Python being my main tool of choice. I've been deeply
    involved in projects focused on testing software kits related to Bluetooth
    Low Energy, where I automated test cases using the Robot Framework and
    Python. In the realm of telecommunications, I've gained hands-on experience
    in software testing, particularly within the security domain of
    next-generation networks. My expertise extends to using tools like the Robot
    Framework, Selenium, and Python for test automation. Proficient in Linux,
    I've played a significant role in streamlining CI/CD processes. My
    responsibilities also encompassed maintaining regression tests. Beyond the
    testing sphere, I've showcased my versatility by leading the development of
    a web application for testing teams, utilizing technologies such as Python,
    Django, React, and Docker.
  </p>
  <h3 class="text-2xl mt-5 mb-1">
    <i
      class="fa-solid fa-school me-2"
      aria-hidden="true"
      title="education, school"></i>Education
  </h3>
  <p class="text-sm">
    At Wroclaw University of Technology, I pursued and successfully completed
    both my Bachelor's and Master's degrees in Computer Science. During my
    Bachelor's program, I took on a project that involved crafting a basic
    cryptocurrency using Python, which provided me with invaluable insights into
    digital currency systems. Transitioning to my Master's, I delved deeper into
    web technologies, specifically undertaking a comparative study between
    Svelte and React. This research allowed me to gauge the performance
    intricacies of these popular frameworks, further enriching my understanding
    of web development dynamics.
  </p>
</section>
