---
---

<div>
  <p>My work:</p>
  <ul class="mt-5">
    <li>
      <strong>TietoEvry</strong>
      <div class="text-sm text-green-400">November 2022 - currently</div>
      Project for Renesas Electronics focused on testing Bluetooth Low Energy SDK.
      Automation of tests cases with Robot Framework and Python.
    </li>
    <li>
      <strong>Nokia</strong>
      <div class="text-sm text-green-400">January 2020 - October 2022</div>
      Hands-on experience in <strong>5G BTS</strong> software testing, specifically
      in the security domain. I utilized <strong>Python</strong>, <strong
        >Robot Framework</strong
      >, and <strong>Selenium</strong> for test automation and actively reported
      bugs using JIRA. Proficient in Linux, I played a key role in the CI/CD processes.
      Additionally, I maintained regression tests and spearheaded the development
      of a web application for the test team using <strong>Python</strong>, <strong
        >Django</strong
      >, <strong>React</strong>, and <strong>Docker</strong>.
    </li>
  </ul>
</div>
