---
---

<section class="h-screen flex pb-40">
  <div class="flex flex-col items-center md:flex-row-reverse gap-2">
    <img
      src="images/avatar.jpg"
      alt="Avatar picture of me"
      class="h-80 rounded-full"
    />
    <div class="text-center md:text-left">
      <div class="mb-6">
        <h1
          class="font-bold text-text-heading text-4xl md:text-5xl pb-2 overflow-hidden"
        >
          <span
            class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
          >
            Jakub Aniszewski
          </span>
        </h1>
        <p class="text-2xl pb-4">Software Engineer</p>
      </div>
      <p class="mb-5 text-lg dark:text-cyan-200">
        Adapting to Every Challenge, Elevating Every Idea. Let's Build the
        Extraordinary! <a href="/#about">Learn more about me!</a>
      </p>

      <div class="flex flex-col md:flex-row gap-4">
        <a class="unset" href="/jakub_aniszewski_resume.pdf">
          <button
            class="dark:bg-primary-blue dark:hover:bg-blue-700 text-white bg-text-body hover:bg-blue-600 font-bold py-1 px-4 w-full"
            >Get my resume!</button
          ></a
        >
        <a class="unset" href="#projects">
          <button
            class="dark:bg-primary-blue dark:hover:bg-blue-700 text-white bg-text-body hover:bg-blue-600 font-bold py-1 px-4 w-full"
            >Check out my projects!</button
          ></a
        >
      </div>
    </div>
  </div>
</section>
