---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        jaqb8
      </span>
    </h1>
    <p class="text-2xl pb-4 text-center">
      Software Engineer. Tennis Player. Blogger.
    </p>
  </div>
  <div>
    <p class="mb-5">
      Hello! My name is <strong>Kuba Aniszewski</strong>. Based in Wroclaw,
      Poland 🇵🇱. Currently I work as a Software Engineer in Test at <a
        href={"https://www.tietoevry.com/"}
        target="_blank">TietoEvry</a
      >. I hold a Master's degree in Computer Science from <a
        href={"https://www.pwr.edu.pl/en/"}
        target="_blank">Wrocław University of Technology.</a
      >
    </p>

    <p>
      My interests primarily revolve around <strong>web development</strong> technologies,
      reflecting on my skills and passion for creating innovative solutions. Technologies
      which I use on daily basis are:
      <div class="flex justify-center gap-4 mb-4">
        <span
          class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"
          >TypeScript</span
        >

        <span
          class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-sm font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20"
          >JavaScript</span
        >
        <span
          class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-sm font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
          >Python</span
        >
        <span
          class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"
          >React</span
        >
        <span
          class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-sm font-medium text-red-700 ring-1 ring-inset ring-red-600/10"
          >Svelte</span
        >
      </div>
    </p>
    <p>
      To get my resume <a href="http://resume.com">click here</a> or use following
      command:
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">curl https://resume.com</code>
    </p>
    <p class="my-5">
      If you want to hire me, please send me an email to <a
        href="mailto:jakubaniszewski@pm.me">jakubaniszewski@pm.me</a
      >
    </p>
  </div>
</section>
