<section class="my-20 min-h-screen" id="projects">
  <h1 class="text-5xl my-10">My Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 justify-between">
    <a
      href="/projects/link-verse"
      class="unset hover:text-blue-300 cursor-pointer"
    >
      <div class="flex flex-col gap-1">
        <div class="">
          <img
            class="rounded-lg hover:scale-105 ease-in duration-300"
            src="/images/LinkVerse.png"
            alt="LinkVerse preview"
          />
        </div>
        <p class="font-bold text-lg">LinkVerse</p>
      </div>
    </a>
    <a
      href="/projects/streamer-spotlight"
      class="unset hover:text-blue-300 cursor-pointer"
    >
      <div class="flex flex-col gap-1">
        <img
          class="rounded-lg hover:scale-105 ease-in duration-300"
          src="/images/streamers-spotlight.png"
          alt="Streamer Spotlight preview"
        />
        <p class="font-bold text-lg">Streamer Spotlight</p>
      </div>
    </a>
    <a
      href="/projects/portfolio"
      class="unset hover:text-blue-300 cursor-pointer"
    >
      <div class="flex flex-col gap-1">
        <img
          class="rounded-lg hover:scale-105 ease-in duration-300"
          src="/images/portfolio.png"
          alt="Portfolio preview"
        />
        <p class="font-bold text-lg">Personal Portfolio & Blog</p>
      </div>
    </a>
  </div>
</section>
